<div class="bg-purple">
    <div class="stars">
      <div class="central-body">
          <p class="text-white fw-bold" id="title-404">404</p>
          <p class="text-light">Sanırım kayboldun :(</p>
          <p><a href="#" [routerLink]="['/Home']" routerLinkActive="router-link-active" id="go-back">Eve Dön</a></p>
          
        <img
          class="image-404"
          style="margin-top: -2rem;"
          src="../../../assets/moon.svg"
          width="300px"
        />
      
      </div>
      <div class="objects">
        <img
          class="object_rocket"
          src="../../../assets/rocket.svg"
          width="40px"
        />
        <div class="earth-moon">
          <img
            class="object_earth"
            src="../../../assets/earth.svg"
            width="100px"
          />
          <img
            class="object_moon"
            src="../../../assets/moon.svg"
            width="80px"
          />
        </div>
        <div class="box_astronaut">
          <img
            class="object_astronaut"
            src="../../../assets/astronaut.svg"
            width="140px"
          />
        </div>
      </div>
      <div class="glowing_stars">
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
      </div>
    </div>
  </div>
  