ul {
    padding: 0;
    background: #202C33;
    color: #ffff;
    height:80vh;
    max-height: 100vh;
    border: none;
    margin-top: 3rem;
    overflow: scroll;
    overflow-x: hidden;
    list-style-type: none;
    box-sizing: content-box;
}

ul::-webkit-scrollbar {
    display: none;
}

ul li {
    text-align: left;
    padding: 1rem;
    width:auto;
}

ul li p:hover {
    cursor:default;
}

#chat {
    transition: all .5s;
}

#chat:hover {
    cursor: pointer;
    color: green;
}

ul li:hover {
    background-color: #2A3942;
}

hr {
    width: 100%;
    opacity: .1;
}

#pp {
    width: 30px;
    height: 30px;
    border-radius: 100px;
}

#newMessageNotification {
    animation-name: glow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes glow {
    0% {color: rgb(0, 149, 255);}
    50% {color: rgb(43, 43, 246);}
    100% {color: rgb(0, 149, 255)}
}
