.wrapper {
    width: 100vw;
    min-height: 100vh;
    max-height: 100%;
    font-family: 'Oxygen', sans-serif;
}

.wrapper::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../../../assets/globe.png);
    background-position:center;
    background-size: cover;
    background-position-y: top;
    /* filter:blur(1px); */
    border: none;
    z-index: -1;
}


h3 {
    color: #ffff;
    font-weight: 2000px;
    font-size:60px;
    letter-spacing: 4px;
    padding-top: 4rem;
}


h3 span {
    color: rgb(236, 102, 0);
}

button {
    display: block;
    width: 100px;
    height: 50px;
    /* margin-left: auto;
    margin-right: auto; */
    background-color: transparent;
    border: .9px solid #EC6601;
    border-radius: 20px;
    transition: all .4s;
    margin-left: 5rem;
}

button:hover {
    color: white;
    background-color: #EC6601;
}


/* button {
    background-color: #212529;
    border: none;
    padding: 0;
    margin: 1rem;
}

textarea {
    color: #ffff;
    padding-left: 5px;
    caret-color: green;
    border: none;
    background-color: #212529;
    box-shadow: 0 2px 2px 0 rgba(180, 180, 180, 0.317), 0 3px 1px -2px rgba(180, 180, 180, 0.14), 0 1px 5px 0 rgba(180, 180, 180, 0.14);
}

textarea:focus {
    outline: none;
    border: none;
    border-color: none;
    box-shadow: 0 2px 2px 0 rgba(180, 180, 180, 0.317), 0 3px 1px -2px rgba(180, 180, 180, 0.14), 0 1px 5px 0 rgba(180, 180, 180, 0.14);
}

.line-1{
     top: 50%;   
    width: 300px;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    text-align: center;
    white-space: nowrap;
    overflow:auto;
    transform: translateY(-50%);    
}

.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 900ms steps(44) infinite normal;
}

 .wrapper h4 #key {
    animation: glow 1s infinite normal;
} 

.center #key-encrypt , .center #key-decrypt {
    animation: glow 1s infinite normal;
}

.center {
    display: flex;
    justify-content: center;
}

.active-users {
    padding-top: 1rem;
    width: 300px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 2px 2px 0 rgba(180, 180, 180, 0.317), 0 3px 1px -2px rgba(180, 180, 180, 0.14), 0 1px 5px 0 rgba(180, 180, 180, 0.14);
}

.active-users h3 {
    text-align: center;
    color: white;
}

.active-users ul li {
    text-align: center;
}


.active-users ul li a {
    text-decoration: none;
    color: white;
}


@keyframes typewriter{
  from{width: 0;}
  to{width: 70%;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(14, 200, 35, 0.75);}
  to{border-right-color: transparent;}
}

@keyframes glow {
    from {color : rgba(14, 200, 35, 0.75);}
    to {
        color: transparent;
    }
} */

