
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oxygen&display=swap" rel="stylesheet">
<div class="wrapper">
  <h3 class="fs-1 text-center ms-5 text-white">IKU<span>CHAT</span></h3>
  <p class=" fs-3 ms-5 mt-5 pt-5 text-white w-50" style="letter-spacing: 1.5px;">
    IKU<span style="color: #EC6601;">CHAT</span> allows you to communicate with the people all around the world.
    <span class="d-block mt-3">Create an account, enjoy chatting!</span> 
  </p>

  <button class="get-started text-white text-center mt-5 ms-5" (click) = 'getStarted()'>Get Started</button>

</div>