<!-- <navbar></navbar> -->
<!-- <form #cipherForm = 'ngForm' action="" (submit) = 'handleCipherForm(cipherForm.value) ; cipherForm.reset()' ngNativeValidate>
    <textarea name="inp" id="inp" cols="30" rows="10" ngModel required></textarea>
    <button type="submit" class="btn btn-success"></button>
</form>

<form #deCipherForm = 'ngForm' action="" (submit) = 'handleDeCipherForm(deCipherForm.value)' ngNativeValidate>
    <textarea name="inp" id="inp" cols="30" rows="10" ngModel required></textarea>
    <button type="submit" class="btn btn-success"></button>
</form>
  -->
  <!-- <div class="wrapper">
    <h4 class="text-white text-center pt-4">
      <i class="bi bi-lock fs-1 text-success" id="lock"></i>
    </h4>
    <p class="text-center text-white line-1 anim-typewriter mt-5">
      CALSKANCIPHER is a web application that allows you to perform encryption operations with various 
      algorithms <br> used in the field of cryptography.
    </p>

    <div class="center">
        <form #cipherForm = 'ngForm' action="" (submit) = 'handleCipherForm(cipherForm.value) ; cipherForm.reset()' ngNativeValidate>
          <textarea name="inp" id="inp" cols="30" rows="10" ngModel required></textarea>
          <button type="submit">
            <i class="bi bi-key fs-1" id="key-encrypt"></i>
          </button>
      </form>
       <form #deCipherForm = 'ngForm' action="" (submit) = 'handleDeCipherForm(deCipherForm.value)' ngNativeValidate>
        <textarea name="inp" id="inp" cols="30" rows="10" ngModel disabled></textarea>
      </form>
    </div>
  </div>  -->
  <!-- <div class="active-users">
    <h3>Active Users</h3>
    <ul>
      <li><a href="#" class="" style="color: grey;">You</a></li>
      <li><a href="#">Caner Eren Çalışkan</a> <span><i class="bi bi-chat text-success ms-1"></i></span></li>
      <li><a href="#">Egemen Goncal</a> <span><i class="bi bi-chat ms-3 ps-3 text-success"></i></span></li>
    </ul>
  </div> -->
<!-- <footer></footer> -->

<div class="wrapper">
  <h3 class="text-center text-white">IKU<span>CHAT</span></h3>
  <p class="text-center mt-1 text-white" style="font-family:Georgia, 'Times New Roman', Times, sans-serif">Get in touch with the people all around the world!</p>
  <a href="Login" style="text-decoration: none;">
    <button class="get-started text-white text-center mt-5">Get Started</button>
  </a>
</div>