<div class="wrapper">
    <div class="container">
        <chat-navbar></chat-navbar>
        <div class="content">
            <div class="active-users-sidebar">
                <active-users></active-users>
            </div>
            <div class="" id="chat-session">
                <div class="session-navbar text-white">
                    <span><i class="bi bi-person fs-4" style="border:1px solid #EC6600; border-radius: 15rem; padding: .5rem; color: #EC6600;"></i></span>
                    <span class="ms-3">Caner</span>
                    <i class="bi bi-three-dots float-end text-white fs-5" id="session-actions"></i>
                </div>

                <ul class="chat-field text-white">
                    <li class="first-user">
                        Selam
                    </li>
                    <li class="first-user">
                        Naber
                    </li>
                    <li class="end-user">
                        Merhaba
                    </li>
                </ul>

                <div id="text-input">
                    <input type="text" name="message" id="message" placeholder="Type a message..."> 
                    <i class="bi bi-send d-inline"></i>
                </div>
                
            </div>
        </div>

    </div>
</div>