<div class="wrapper">
    <div style="max-width: 100vw;">
            <chat-navbar></chat-navbar>
        <div class="content">
            <div class="active-users-sidebar" *ngIf="!sessionActivated">
                <active-users></active-users>
            </div>
            <div id="chat-session">

                <div class="profile text-white" *ngIf="!displaySession">
                    <div class="flex">
                        <span *ngIf="currentUser">
                            <i class="bi bi-person-circle" id="profile-icon" *ngIf="currentUser.profilePicture === ' ' "></i>
                        </span>
                        <span *ngIf="currentUser">
                            <span *ngIf="currentUser.profilePicture !== ' '" id="image-field">
                                <img src={{currentUser.profilePicture}} alt="user_pp">
                                <i class="bi bi-trash3 text-danger fs-6" style="position: relative; bottom: 20px; right: 7px" (click) = 'deleteProfilePicture()'></i>
                            </span>
                        </span>
                    </div>
                    <form #uploadPictureForm = 'ngForm' (submit) = 'uploadImage()' ngNativeValidate>
                        <div class="d-flex">
                            <input type="file" name="picture" class="form-control" (change) = 'handleImageSelection($event)' ngModel required>
                            <button type="submit">Upload</button>
                        </div>
                    </form>
                    <div class="uploading" *ngIf="showUploading">
                        <span class="text-success">uploading..</span>
                        <div class="dots">
                            <div class="dot1 bg-success rounded-circle m-2">
                            </div>
                            <div class="dot2 bg-success rounded-circle m-2">
                            </div>
                            <div class="dot3 bg-success rounded-circle m-2">
                            </div>
                        </div>
                        
                    </div>
                    <hr>
                </div>
                

                <div class="preferences text-white" *ngIf="!displaySession">
                    <h2 class="text-center">Preferences</h2>
                    <div class="options">
                    <p class="ms-3">
                        Get a new message notification
                         <span>
                            <input type="checkbox">
                         </span>
                    </p>
                   
                   <p class="ms-3">
                    Allow..
                        <span class="d-block ps-4">
                            Only the person i am chatting with
                            <input type="checkbox" (change) = 'handlePermissionChange("enduser",$event)'>
                        </span>
                        <span class="d-block ps-4">
                            Anyone
                            <input type="checkbox" (change) = 'handlePermissionChange("anyone",$event)'>
                        </span>
                        <span class="d-block ps-4">
                            No one
                            <input type="checkbox" (change) = 'handlePermissionChange("noone",$event)'>
                        </span>
                    to see my profile picture
                   </p>
                    </div>
                </div>

                <div class="session-navbar text-white" *ngIf="displaySession">
                    <span>
                        <i class="bi bi-person fs-4 p-2" *ngIf="endUserImage === ' '" style="border:1px solid #EC6600; border-radius: 15rem; color: #EC6600;"></i>
                        <img id="endUserPP" *ngIf="endUserImage !== ' '" src={{endUserImage}} alt="img">
                    </span>
                    <span class=" ms-3" *ngIf="displaySession">{{endUserName}}</span>
                    <i class="bi bi-x-lg float-end ms-2 pt-1 text-danger" id="closeSession" (click) = 'closeSession()'></i>
                    <i class="dd bi bi-three-dots float-end text-white fs-5" id="session-actions">
                        <input type="checkbox">
                        <div class="dd-c">
                            <ul>
                                <li (click) = 'deleteConversation(displaySession)'>Delete Conversation</li>
                                <li (click) = 'blockUser(displaySession)' *ngIf="!blocked">Block User</li>
                                <li (click) = 'unblockUser(displaySession)' *ngIf="blocked">Unblock User</li>
                            </ul>
                        </div>
                    </i>
                </div>

                <ul class="chat-field text-white" *ngIf="displaySession && displaySession.conversation">
                    <li class="d-flex" *ngFor="let message of displaySession.conversation">
                        <span [ngClass]= "{'first-user' : message.sender.uid === currentUserUid , 'end-user' : message.sender.uid != currentUserUid}">
                            {{message.content}}
                            <span *ngIf="message.sender.uid === currentUser.uid">
                                <span class="message-sent" *ngIf="!message.read">
                                    <i class="bi bi-check2"></i>
                                </span>
                                <span class="message-read" *ngIf="message.read">
                                    <i class="bi bi-check2-all text-info"></i>
                                </span>
                            </span>
                            <span class="message-time">{{message.time}}</span>
                        </span>
                    </li>
                </ul>

                <form *ngIf="displaySession" #messageForm = 'ngForm' id="messageForm" (submit) = 'sendMessage(messageForm.value); messageForm.resetForm()' ngForm ngNativeValidate>
                    <input type="text" name="content" id="content" placeholder="Type a message..." ngModel required> 
                    <button type="submit">
                        <i class="bi bi-send d-inline"></i>
                    </button>
                </form>
                
            </div>
        </div>
    </div>
</div>