<div class="wrapper">
    <div style="max-width: 100vw;">
            <chat-navbar></chat-navbar>
        <div class="content">
            <div class="active-users-sidebar">
                <active-users></active-users>
            </div>
            <div id="chat-session">

                <div class="session-navbar text-white" *ngIf="displaySession">
                    <span><i class="bi bi-person fs-4 p-2" style="border:1px solid #EC6600; border-radius: 15rem; color: #EC6600;"></i></span>
                    <span class=" ms-3" *ngIf="displaySession">{{endUserName}}</span>
                    <i class="dd bi bi-three-dots float-end text-white fs-5" id="session-actions">
                        <input type="checkbox">
                        <div class="dd-c">
                            <ul>
                                <li (click) = 'deleteConversation(displaySession)'>Delete Conversation</li>
                                <li (click) = 'blockUser(displaySession)'>Block User</li>
                            </ul>
                        </div>
                    </i>
                </div>

                <ul class="chat-field text-white" *ngIf="displaySession && displaySession.conversation">
                    <li class="d-flex" *ngFor="let message of displaySession.conversation">
                        <span [ngClass]= "{'first-user' : message.sender.uid === currentUserUid , 'end-user' : message.sender.uid != currentUserUid}">
                            {{message.content}}
                        </span>
                    </li>
                </ul>

                <form *ngIf="displaySession" #messageForm = 'ngForm' id="messageForm" (submit) = 'sendMessage(messageForm.value); messageForm.resetForm()' ngForm ngNativeValidate>
                    <input type="text" name="content" id="content" placeholder="Type a message..." ngModel required> 
                    <button type="submit">
                        <i class="bi bi-send d-inline"></i>
                    </button>
                </form>
                
            </div>
        </div>
    </div>
</div>