.wrapper {
    width: 100vw;
    min-height: 100vh;
    max-height: 100%;
    background-color: #111B21;
}

.content {
    width: 90%;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}


.active-users-sidebar {
    width: 30%;
}

#chat-session {
    position: relative;
    scroll-behavior: smooth;
    height: 80vh;
    /* max-height: 80vh; */
    overflow:scroll;
    margin-top: 3rem;
    width: 100%;
    margin-left: .5rem;
    background-color: #202C33 transparent;
    background-image: url(../../../../assets/Desktop.jpg);
}

 /* li:last-child {
    padding-bottom: 3rem;
}    */

#chat-session::-webkit-scrollbar {
    display: none;
}

.session-navbar {
    position:sticky;
    top: 0;
    width: 100%;
    background-color: #202C33;
    padding: 1rem;
}

#session-actions:hover {
    cursor: pointer;
}

#messageForm{
    width: 69%;
    background-color: #202C33;
    /* height: 20%;
    margin-top: 60%; */
    /* position:sticky;
    */
    position: fixed;
    bottom: 0px; 
}

#messageForm button {
    background-color: #202C33;
    border: none;
    width: min-content;
    height: min-content;
}

#messageForm input {
    width: 90%;
    margin: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: .5rem;
    background-color: #2A3942;
    border: none;
    border-radius: 8px;
    color: #ffff;
}

#messageForm input:focus {
    outline: none;
}

#messageForm i {
    position: relative;
    top: 5px;
    font-size: 25px;
    color: #ffff;
    transition: all .5s;
}

#message-form i:hover {
    cursor: pointer;
    color: rgb(3, 157, 3);
}


.first-user {
    margin-top: 1rem;
    background-color: #035C4B;
    padding: .5rem 1rem;
    border-radius: 6px;
    text-align: left;
    margin-left: auto;
    width: max-content;
    margin-right: .8rem;
}


.end-user {
    width: max-content;
    display: block;
    background-color: rgb(59, 59, 59);
    padding: .5rem 1rem;
    float: left;
    border-radius: 8px;
    margin-top: 1rem;
}

.message-time {
    font-size: 12px;
    position: relative;
    right: -10px;
    bottom: -10px;
    opacity: .5;
}

.chat-field {
    list-style: none;
    max-height: 100%;
}

.dd input:after {
    content:"";
    /* width:100%; */
    /* height:2px; */
    position:absolute;
    display:block;
    background:#C63D0F;
    bottom:0;
    left:0;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition-duration: 0.2s;
    -webkit-transform: scaleX(0);
    -webkit-transform-origin: bottom left;
    -webkit-transition-duration: 0.2s;
  }

  .dd input {
    top:0;
    opacity:0;
    display:block;
    padding:0;
    margin:0;
    border:0;
    position:absolute;
    height:100%;
    width: 20px;
  }

  .dd input:hover {
    cursor:pointer;
  }

  .dd input:hover ~ .dd-a {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
  }

  .dd input:checked:after {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
  }

  .dd input:checked ~ .dd-c {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }

  .dd-a span {
    color:#C63D0F;
  }

  .dd-c{
    display:block;
    position: absolute;
    right: 0px;
    background:white;
    height:auto;
    transform: scaleY(0);
    transform-origin: top left;
    transition-duration: 0.2s;
    -webkit-transform: scaleY(0);
    -webkit-transform-origin: top left;
    -webkit-transition-duration: 0.2s;
  }

  .dd-c ul {
    margin:0;
    padding:0;
    list-style-type: none;
  }

  .dd-c li {
    color: #ffff;
    background-color: #283b45;
    font-style: normal;
    /* margin-bottom:5px; */
    word-break: keep-all;
    white-space:nowrap;
    display:block;
    position:relative;
    font-size: small;
    padding: .5rem;
  }

  .dd-c li:hover {
    background-color: #1F2C33;
  }

  .flex {
    display: flex;
    justify-content: center;
  }

  #profile-icon , #upload-icon{
   font-size: 5rem;
  }

  #upload-button {
    background-color: transparent;
    border: .5px solid grey;
    color: white;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    transition: all .5s;
    border-radius: 10px;
  }

  #upload-button:hover {
    cursor: pointer;
    background-color: grey;
  }

  form {
    width: min-content;
    margin-left: auto;
    margin-right: auto;
  }

  form input {
    width: min-content;
  }

  .d-flex button {
    border: .4px solid grey;
    border-radius: 20px;
    padding: .5rem;
    background-color: transparent;
    color: white;
    margin-left: .5em;
    transition: all .4s;
  }

  .d-flex button:hover {
    background-color: grey;
  }

@media screen and (max-height : 900px) {
    li:last-child {
        padding-bottom: 4rem;
    }   
    
}