.wrapper {
    width: 100vw;
    min-height: 100vh;
    max-height: 100%;
    background-color: #111B21;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: row;
}


.active-users-sidebar {
    width: 35%;
}

#chat-session {
    position: relative;
    height: 80vh;
    max-height: 100vh;
    overflow: scroll;
    margin-top: 3rem;
    width: 100%;
    margin-left: .5rem;
    background-color: #202C33 transparent;
    background-image: url(../../../../assets/Desktop.jpg);
}

#chat-session::-webkit-scrollbar {
    display: none;
}

.session-navbar {
    background-color: #202C33;
    padding: 1rem;
}

#session-actions:hover {
    cursor: pointer;
}

#text-input{
    width: 100%;
    background-color: #202C33;
    position: absolute;
    bottom: 0;
}

#text-input button {
    background-color: #202C33;
    border: none;
    width: min-content;
    height: min-content;
}

#text-input input {
    width: 90%;
    margin: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: .5rem;
    background-color: #2A3942;
    border: none;
    border-radius: 8px;
    color: #ffff;
}

#text-input input:focus {
    outline: none;
}

#text-input i {
    position: relative;
    top: 5px;
    font-size: 25px;
    color: #ffff;
    transition: all .5s;
}

#text-input i:hover {
    cursor: pointer;
    color: rgb(3, 157, 3);
}


.first-user {
    margin-top: 1rem;
    background-color: #035C4B;
    padding: .5rem 1rem;
    border-radius: 6px;
    text-align: right;
    width: max-content;
    margin-left: 52rem;
}


.end-user {
    width: max-content;
    display: block;
    background-color: rgb(59, 59, 59);
    padding: .5rem 1rem;
    left: 13px;
    border-radius: 8px;
}

.message-time {
    font-size: 12px;
    position: relative;
    right: -10px;
    bottom: -10px;
    opacity: .5;
}

.chat-field {
    list-style: none;
}