<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand ps-4" href="#" style="letter-spacing: 4px;">IKU<span style="color: #EC6601;">CHAT</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{activex: homeActive}" href="#" (click) = 'homeActivex()'>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{activex: polybiusActive}" href="#" (click) = 'polybiusActivex()'>Polybius Cipher </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{activex: xorActive}" href="#" (click) = 'xorActivex()'>XOR Cipher</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " [ngClass]="{activex: aboutActive}" href="#" (click) = 'aboutActivex()'>About</a>
        </li>
      </ul>
    </div>
  </nav>